.App {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
  padding: 0;
  margin: 0;
}

.navbar{
  width: 100%;
  height: 80px;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .links{
  font-size: 25px;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.links a {
  margin: 10px;
  color: white;
  text-decoration: none;
}

.links a:hover {
  cursor: pointer;
  font-weight: bold;
}

/* CREATE POST */
.CreatePost{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.uploadPost {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 500px;
  border: 1px solid gray;
  font-size: 23px;
}

.uploadPost input{
  width: 80%;
  height: 50px;
  margin: 10px;
  font-size: 23px;
}

textarea{
  width: 400px;
  height: 200px;
  font-size: 23px;
}

button{
  width: 200px;
  height: 50px;
  margin: 10px;
  cursor: pointer;
  background-color: gray;
  color: white;
}

